@import url("https://fonts.cdnfonts.com/css/sf-pro-display");
body {
  font-family: "SF Pro Display", sans-serif !important;
}

.blog-all .wrapper {
  margin: 0 auto;
  padding: 0px 45px;
}

.blog-all .wrapper img {
  cursor: pointer;
}

.blog-all .wrapper .form-search {
  margin: 24px 0px 40px 0px;
}

.blog-all .wrapper .form-search input {
  width: 675px;
  border: 1px solid #d85186;
  border-radius: 15px;
  padding: 11px;
  color: #818181;
  outline: none;
  font-size: 12px;
  line-height: 14px;
}

.blog-all .wrapper .form-search #icon {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  right: 15px;
  cursor: pointer;
}

.blog-all .wrapper .header {
  grid-template-columns: repeat(2, 1fr);
  gap: 75px;
}

.blog-all .wrapper .header .main-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 20px;
}

.blog-all .wrapper .post-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 0;
  cursor: pointer;
  text-decoration: none;
}

.blog-all .wrapper .post-note {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #a67676;
  margin: 17px 0;
  display: block;
}

.blog-all .wrapper .post-desc {
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  color: #000000;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blog-all .wrapper .header .most-viewed-post .posts .post .info {
  margin-left: 27px;
}

.blog-all .wrapper .header .most-viewed-post .posts .post:not(:last-child) {
  margin-bottom: 21px;
}

.blog-all .wrapper .header .most-viewed-post,
.blog-all .wrapper .header .featured-post {
  width: 50%;
}

#blog-featured-post-carousel.owl-theme .owl-dots {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
}

#blog-featured-post-carousel.owl-theme .owl-dots .owl-dot.active span {
  background: #ffaeb4 !important;
}

#blog-featured-post-carousel.owl-theme .owl-dots .owl-dot span {
  width: 12px;
  height: 12px;
  background: #fff !important;
}

.blog-all .wrapper .products {
  padding: 25px;
  background: #fff1f2;
  border-radius: 10px;
  margin-top: 24px;
}

.blog-all .wrapper .products .title {
  font-weight: 600;
  font-size: 28px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 25px;
}

.blog-all .wrapper .products #blog-products-carousel img {
  cursor: pointer;
}

.blog-all .wrapper #blog-products-carousel-wrapper {
  padding: 0 70px;
}

#blog-products-carousel.owl-carousel .owl-nav button.owl-prev,
#blog-products-carousel.owl-carousel .owl-nav button.owl-next {
  width: 48px;
  height: 48px;
  background: #b7c2cb !important;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 30%;
  transform: translateY(-30%);
}

#blog-products-carousel.owl-carousel .owl-nav button.owl-next {
  right: -55px;
}

#blog-products-carousel.owl-carousel .owl-nav button.owl-prev {
  left: -55px;
}

.blog-all .wrapper .new-post-title {
  background: #fc8d93;
  border-radius: 10px;
  padding: 18px 35px;
  margin: 24px 0;
  font-weight: 600;
  font-size: 28px;
  line-height: 28px;
  color: #ffffff;
}

.blog-all .wrapper .new-post-list {
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.blog-all .wrapper .button__see-more {
  width: 136px;
  height: 26px;
  border: 1px solid #d65f1d;
  outline: none;
  border-radius: 10px;
  background-color: white;
  color: #d65f1d;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  vertical-align: middle;
  transition: all 0.3s ease-in-out;
  margin-top: 36px;
}

.blog-all .wrapper .button__see-more:hover {
  background-color: #d65f1d;
  color: #fff;
}

.blog-all .wrapper .button__see-more:hover > span svg path {
  fill: #fff;
}

.blog-all .wrapper .button__see-more span:first-child {
  margin-right: 4px;
}

.blog-all .wrapper .featured-category {
  border: 1px solid #ebbdbd;
  border-radius: 20px;
  margin-top: 50px;
  padding: 20px 0px 10px 0px;
}

.blog-all .wrapper .featured-category .title {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #000000;
  margin-bottom: 25px;
}

.blog-all .wrapper .featured-category .tags .tag {
  border: 1px solid #ebbdbd;
  border-radius: 10px;
  padding: 7px 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
  transition: .3s ease-in-out;
}

.blog-all .wrapper .featured-category .tags .tag:hover {
  background: #ffaeb4;
  color: #fff;
}

.blog-all .wrapper .featured-category .note {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #000000;
  margin-top: 20px;
}
