@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SF\ Pro/.SF-Pro-Display-Black.otf.icloud"),
    url("../fonts/SF\ Pro/.SF-Pro-Display-Bold.otf.icloud"),
    url("../fonts/SF\ Pro/.SF-Pro-Display-BoldItalic.otf.icloud"),
    url("../fonts/SF\ Pro/.SF-Pro-Display-HeavyItalic.otf.icloud"),
    url("../fonts/SF\ Pro/.SF-Pro-Display-LightItalic.otf.icloud"),
    url("../fonts/SF\ Pro/.SF-Pro-Display-Medium.otf.icloud"),
    url("../fonts/SF\ Pro/.SF-Pro-Display-MediumItalic.otf.icloud"),
    url("../fonts/SF\ Pro/.SF-Pro-Display-RegularItalic.otf.icloud"),
    url("../fonts/SF\ Pro/.SF-Pro-Display-BlackItalic.otf.icloud"),
    url("../fonts/SF\ Pro/.SF-Pro-Display-Light.otf.icloud"),
    url("../fonts/SF\ Pro/.SF-Pro-Display-Regular.otf.icloud"),
    url("../fonts/SF\ Pro/.SF-Pro-Display-SemiboldItalic.otf.icloud"),
    url("../fonts/SF\ Pro/.SF-Pro-Display-Thin.otf.icloud"),
    url("../fonts/SF\ Pro/.SF-Pro-Display-ThinItalic.otf.icloud"),
    url("../fonts/SF\ Pro/.SF-Pro-Display-Ultralight.otf.icloud"),
    url("../fonts/SF\ Pro/.SF-Pro-Display-UltralightItalic.otf.icloud"),
    url("../fonts/SF\ Pro/.SF-Pro-Display-Semibold.otf.icloud");
}

body {
  font-family: "SF Pro Display";
}
.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.box-cart-success-wrapper {
  max-width: 1440px;
  margin: 56px auto 36px;
}

.box-cart-success-container {
  max-width: 807px;
  margin: 0 auto;
}

.box-cart-success-main-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  color: #000000;
}

.box-cart-success-container .headline .long-desc,
.box-cart-success-container .headline .short-desc {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #000000;
}

.box-cart-success-container .headline .short-desc {
  line-height: 19px;
  margin: 45px 0 16px;
}

.box-cart-success-container .headline .long-desc > p {
  line-height: 26px;
  margin-bottom: 0;
}

.box-cart-success-container.banking-info {
  margin-top: 56px;
  margin-bottom: 63px;
}

.box-cart-success-container.banking-info .banking-method {
  margin-top: 45px;
}

.box-cart-success-container.banking-info .banking-method .step-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 12px;
}

.box-cart-success-container.banking-info .banking-method .manual-banking,
.box-cart-success-container.banking-info .banking-method .qr-banking {
  border: 1px solid #d9d9d9;
  border-radius: 10px;
}

.box-cart-success-container.banking-info .banking-method .qr-banking {
  width: 313px;
  padding: 15px 36px;
}

.box-cart-success-container.banking-info .banking-method .manual-banking {
  flex-grow: 1;
  padding: 17px 17px 95px 17px;
  margin-left: 16px;
}

.box-cart-success-container.banking-info
  .banking-method
  .manual-banking
  table
  tr
  #transfer-content {
  border: 1px solid #000000;
  padding: 0 11px;
  height: 20px;
  border-radius: 5px;
  text-align: center;
  margin-top: -10px;
}

.box-cart-success-container.banking-info
  .banking-method
  .manual-banking
  table
  tr
  .bank-copy {
  width: 93px;
  height: 20px;
  background: #362962;
  border: 1px solid #362962;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  margin-left: 30%;
  transition: all 0.3s linear;
}

.box-cart-success-container.banking-info
  .banking-method
  .manual-banking
  table
  tr
  .bank-copy:hover {
  background-color: #fff;
  color: #362962;
}

.box-cart-success-container.order-info {
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  margin-top: 52px;
  margin-bottom: 63px;
}

.box-cart-success-container.order-info .head {
  padding-top: 21px;
  position: relative;
}

.box-cart-success-container.order-info .head .order-id {
  width: 210px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  padding: 11px 32px;
}

.box-cart-success-container.order-info .head .order-date {
  padding-right: 43px;
  position: absolute;
  right: 25px;
  top: 29px;
}

.box-cart-success-container.order-info .order-listing {
  margin-top: 27px;
  padding: 21px;
}

.box-cart-success-container.order-info .order-listing table {
  border-spacing: 0;
  border-collapse: separate;
}

.box-cart-success-container.order-info .order-listing table thead {
  background-color: #362962;
  color: #fff;
  border-radius: 10px;
  height: 36px;
}

.box-cart-success-container.order-info .order-listing table thead tr td {
  padding: 9px 0;
}

.box-cart-success-container.order-info
  .order-listing
  table
  thead
  tr
  td:first-child {
  border-radius: 10px 0 0 10px;
  padding-left: 35px;
  width: 348px;
  position: relative;
}

.box-cart-success-container.order-info
  .order-listing
  table
  tr
  td:first-child::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 0 8px;
  border-color: transparent transparent transparent #eaeaea;
  position: absolute;
  top: 30px;
  left: 0;
}

.box-cart-success-container.order-info
  .order-listing
  table
  thead
  tr
  td:nth-child(2) {
  width: 61px;
}

.box-cart-success-container.order-info
  .order-listing
  table
  thead
  tr
  td:nth-child(3) {
  padding-left: 35px;
  width: 100px;
}

.box-cart-success-container.order-info
  .order-listing
  table
  thead
  tr
  td:last-child {
  border-radius: 0 10px 10px 0;
  padding-right: 54px;
  padding-left: 45px;
  width: 150px;
  position: relative;
}

.box-cart-success-container.order-info
  .order-listing
  table
  tr
  td:last-child::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 10px 8px;
  border-color: transparent transparent #eaeaea transparent;
  position: absolute;
  top: 30px;
  right: 0;
}

.box-cart-success-container.order-info
  .order-listing
  table
  tfoot
  tr
  td:last-child,
.box-cart-success-container.order-info .order-listing table tbody tr td {
  text-align: center;
}

.box-cart-success-container.order-info
  .order-listing
  table
  tbody
  tr
  td:first-child {
  padding: 17px 0px 14px 35px;
  text-align: start;
}

.box-cart-success-container.order-info
  .order-listing
  table
  tbody
  tr:nth-child(odd)
  td {
  background: #eaeaea;
}

.box-cart-success-container.order-info
  .order-listing
  table
  tbody
  tr:nth-child(even)
  td {
  background: rgba(234, 234, 234, 0.42);
}

.box-cart-success-container.order-info
  .order-listing
  table
  tfoot
  tr
  td:first-child {
  padding: 9px 0px 8px 35px;
  border-right: 1px solid transparent;
}

.box-cart-success-container.order-info .order-listing table tfoot tr td {
  border: 1px solid #e9e9e9;
}

.box-cart-success-container.order-info .order-listing table tfoot tr:last-child td:first-child {
    border-bottom-left-radius:10px;
  }

  .box-cart-success-container.order-info .order-listing table tfoot tr:last-child td:last-child {
    border-bottom-right-radius:10px;
  }

.box-cart-success-container.delivery-info {
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  padding: 21px 0px 18px 56px;
  margin-top: 45px;
}

.box-cart-success-container.delivery-info > table > tbody > tr > td > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 20px;
}

.box-cart-success-container.end-page {
  text-align: center;
  margin-top: 54px;
  margin-bottom: 36px;
}

.box-cart-success-container.end-page > .buttons button {
  height: 40px;
  color: #fff;
  border-radius: 10px;
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  padding: 10px 40px;
}

.box-cart-success-container.end-page > .buttons > .register-boshop {
  background-color: #781919;
  margin-top: 20px;
  margin-bottom: 16px;
}

.box-cart-success-container.end-page > .buttons > .discover-boshop {
  background-color: #362962;
  text-transform: uppercase;
}
